@import url('https://fonts.googleapis.com/css?family=Poppins');

#about {
   font-family: 'Poppins', sans-serif;
   padding-bottom: 5em;
   justify-content: center;
}

.aboutTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3em;
  background-color: #424e60;
  color: white;
  border: solid #7aabf9;
  border-radius: 2em;
  padding: .2em;
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  margin-top: 2em;
  margin-bottom: 2em;

}


.aboutContent {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-top: 2em;
}

.fridgetoPlate{
  display: flex;
  margin: 5em;
  justify-content: space-between;
  padding:2em;

}

.redFridge{
  display:flex;
  height: 15em;
  width: 15em;
}

.redArrow1{
  display:flex;
  height: 15em;
  width: 15em;
}

.computer{
  display:flex;
  height: 15em;
  width: 15em;
}

.redArrow2{
  display:flex;
  height: 15em;
  width: 15em;
}

.redPlate{
  display:flex;
  height: 15em;
  width: 15em;
}
.companyMotto{
  display: flex;
  font-size: 3em;
  background-color: #424e60;
  color: white;
  border-top: solid #7aabf9;
  border-bottom: solid#7aabf9;
  border-width: .1em;
  justify-content: center;
  margin-top: 1em;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
  padding: 2em;
  margin-top: 5em;
}

.picAndQuestion{
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}
.wonder{
  display: flex;
  font-size: 2.5em;
  flex-direction: column;
  justify-content: center;
  background-color: #424e60;
  border-radius: 2em;
  padding-left: 2.5em;
  height: 2em;
  padding-right: 2em;
  border: solid #7aabf9;
  color: white;
  padding-top: .2em;
  width: 15em;
  align-self: center;
}

.aboutParagraph {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 12em;
  height: 30em;
  font-size: 2em;
  justify-content: center;
  align-content: center;
  margin-top: 2em;
  padding-left: 2em;
}

.stockedfridge{
  display: flex;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 3em;
}

.motto{
  display: flex;
  flex-direction: column;
  width: 30%;
  border: solid #7aabf9;
}


.howItWorks{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
  align-content: center;
  background-color: #7aabf9;
  color: white;
  padding: -1em;
  border-top: solid red;
  border-bottom: solid red;
  margin-top: 3em;
  font-size: 3em;
}

.howItWorksContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step1{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.step2{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.step3{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.step4{
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  padding-bottom: 2em;
}

.DemoCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.highlight {
  display: flex;
  justify-content: center;
  font-size: 2em;
  margin-top: 4em;
}

.highlight2 {
  display: flex;
  justify-content: center;
}
