.bottom {
  display: flex;
  justify-content: space-around;
  color: white;
  /* position:fixed; */
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: orange;
  font-family: 'Montserrat', sans-serif;
}

.bottom a{
  color: white;
}

.bottom a:hover{
  background-color: #7aabf9;
}

.contact {
  padding-top: 10px;
}

.copyright {
  font-weight: normal;
  padding-top: 10px;
}

.socials {
  padding: 5px 5px;
}
