@import url('https://fonts.googleapis.com/css?family=Poppins');


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: red;
  text-align: center;
}

.bottom a{
  color: red;
}

.bottom a:hover{
  background-color: #7aabf9;
}

.contact {
  padding-top: 10px;
}

.copyright {
  font-weight: normal;
}

.socials {
  padding: 5px 5px;
}

.socials img {
  margin: 0px 4px;
}
