@import url('https://fonts.googleapis.com/css?family=Poppins');

.navbar {
  overflow: hidden;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  height: 7vh;
}

.links a {
  font-size: 16px;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.1em;
  border: none;
  outline: none;
  color: red;
  padding-right: 4em;
  width: 8em;
  height: 3em;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border-radius:0%;
}

.links a:hover, .dropdown:hover .dropbtn {
  background-color: #7aabf9;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 1.15em;
}

.dropdown-content a {
  float: none;
  color: red;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #7aabf9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
