@import url('https://fonts.googleapis.com/css?family=Poppins');

.searchContent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}
.cooking{
  display: flex;
  height: 25em;

}
.submitbutton{
  display: flex;
  justify-content: center;
  height: 3em;
  width: 10em;
  border-radius: 2em;
  background-color: gray;
  font-family: 'Poppins', sans-serif;
  color: white;
}

.sortButton{
    display: flex;
    justify-content: center;
    height: 3em;
    width: 10em;
    border-radius: 2em;
    background-color: gray;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.buttons{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2em;
}

.submit{
  display: flex;
  padding-right: 2em;
}

.searchInput{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  height: 4em;
  background-color: #424e60;
  font-family: 'Poppins', sans-serif;
  width: 50em;
  border-radius: 5em;
  margin-bottom: .5em;
  color: white;
}

::placeholder{
  color: white;
}

.ui.card,
.ui.cards>.card {
  background-color: #7aabf9;
  padding-top: 1em;
  color: white;
  border: solid gray;
}

.ui.card>.content,
.ui.cards>.card>.content {
  background-color: #424e60;
}

.ui.grid {
  padding-bottom: 5em;
}

.contentTitle{
  display: flex;
  justify-content: center;
  font-size: 3em;
  margin-top: 2em;
  color: red;
}
